In [30]:
import pandas as pd

###Title_akas###

In [31]:
#title_akas :

#charger la base de données
link_title_akas = "https://datasets.imdbws.com/title.akas.tsv.gz"
df_akas = pd.read_csv(link_title_akas, sep = "\t", low_memory = False)

In [32]:
df_akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita,\N,\N,original,\N,1
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita,US,\N,imdbDisplay,\N,0
3,tt0000001,4,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
4,tt0000001,5,Καρμενσίτα,GR,\N,imdbDisplay,\N,0

In [33]:
#Pour les langues il faudra trier avec tmdb
#Bcp de films frcs n'ont pas l'indication de la langue, et la région ne veut rien dire par rapport à la langue

#nous pouvons tout de même supprimer les colonnes où toutes les valeurs sont manquantes sur les colonnes : 'region', 'language', 'types', 'attributes', 'isOriginalTitle'

col_language = ['region', 'language', 'types', 'attributes', 'isOriginalTitle']
df_akas = df_akas.dropna(subset=col_language, how='all')

In [34]:
#je vérifie sur 3 films français :

titres_fr= ["Les jolies choses", "Amélie Poulain", "Les petits mouchoirs"]
df_akas[df_akas['title'].isin(titres_fr)]

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
1581472,tt0263496,1,Les jolies choses,\N,\N,original,\N,1
1581474,tt0263496,11,Les jolies choses,FR,\N,imdbDisplay,\N,0
15563883,tt1440232,1,Les petits mouchoirs,\N,\N,original,\N,1
15563884,tt1440232,10,Les petits mouchoirs,CA,fr,imdbDisplay,\N,0
15563916,tt1440232,9,Les petits mouchoirs,BE,\N,imdbDisplay,\N,0
39162896,tt5274878,1,Amélie Poulain,\N,\N,original,\N,1
39162897,tt5274878,2,Amélie Poulain,FR,\N,\N,\N,0
45815871,tt8834766,1,Amélie Poulain,\N,\N,original,\N,1

In [35]:
#je supprime les colonnesordering, region, types, attributes, isOriginalTitle : garder language si manquant ds TMDB

columns_to_drop = ['ordering', 'region', 'types', 'attributes', 'isOriginalTitle']
df_akas = df_akas.drop(columns= columns_to_drop)

In [36]:
#supprimer les doublons sur la colonne titleId

df_akas = df_akas.drop_duplicates(subset=['titleId'], keep='first')

In [37]:
#je vérifie sur 3 films français :

titres_fr= ["Les jolies choses", "Amélie Poulain", "Les petits mouchoirs"]
df_akas[df_akas['title'].isin(titres_fr)]

            titleId                 title language
1581472   tt0263496     Les jolies choses       \N
15563883  tt1440232  Les petits mouchoirs       \N
39162896  tt5274878        Amélie Poulain       \N
45815871  tt8834766        Amélie Poulain       \N

In [38]:
#je reset les index

df_akas.reset_index(inplace=True)

#je supprime les valeurs manquantes
df_akas = df_akas.dropna(subset=['title'])

In [39]:
#je supprime les valeurs manquantes
df_akas = df_akas.dropna(subset=['title'])

In [40]:
df_akas.isna().sum()

index       0
titleId     0
title       0
language    0
dtype: int64

In [ ]:
titres_fr= ["Les jolies choses", "Amélie Poulain", "Les petits mouchoirs"]
df_akas[df_akas['title'].isin(titres_fr)]

###Table_acteurs###

In [46]:
#charger la base de données

link_actor = "https://datasets.imdbws.com/title.principals.tsv.gz"
df_actor = pd.read_csv(link_actor, sep = "\t", low_memory=False)

#il n'y a pas de valeurs manquantes

In [48]:
#supprimer les colonnes job (métier connus de la personne) et ordering (ordre d'importance du role)

columns_actors_to_drop = ['ordering', 'job']
df_actor = df_actor.drop(columns= columns_actors_to_drop)

In [49]:
#il peut y avoir des doublons c'est normal

      tconst     nconst         category characters
0  tt0000001  nm1588970             self   ["Self"]
1  tt0000001  nm0005690         director         \N
2  tt0000001  nm0005690         producer         \N
3  tt0000001  nm0374658  cinematographer         \N
4  tt0000002  nm0721526         director         \N

In [50]:
# ne garder que les 6 premières catégories de participants dans un film

df_actor = df_actor[df_actor['category'].str.contains('actor|actress|self|writer|director|producer')]

In [54]:
df_actor['category'].value_counts()

category
actor               20553517
actress             15389924
self                12071565
writer              10413140
director             7434883
producer             6514770
casting_director     1003681
Name: count, dtype: int64

### TABLE CREW ###

#Charger la base de données
#Sert à récupérer les noms que l'on n'a pas dans la table df_actor

link_title_crew = "https://datasets.imdbws.com/title.crew.tsv.gz"
df_crew = pd.read_csv(link_title_crew, sep = "\t", low_memory = False)

10132345